  <nav>
    <a href="/">Home</a>
    <br/>
    <a href="/menu">Full Menu</a>
    <br/>
    <!-- new links below-->
    <a href="/menu/mains">Mains</a>
    <br/>
    <a href="/menu/desserts">Desserts</a>
    <br/>
    <a href="/menu/sides">Sides</a>
  </nav>
    